rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    // Match the folder where profile pictures are stored
    match /profile-pictures/{userId} {
      // Allow anyone to read the profile picture.
      allow read: if true;

      // Allow a user to write (create, update, delete) to their own
      // profile picture file, but only if they are authenticated.
      allow write: if request.auth != null && request.auth.uid == userId;
    }
  }
}
